@model Department

@{
    ViewBag.Title = Model == null ? "Create":"Edit"  ;
}

<h2>@ViewBag.Title Department </h2>



<form asp-action=@ViewBag.Title>
    <div asp-validation-summary=All></div>

    <label asp-for="DepartmentName" class="control-lable"></label>
    <input asp-for="DepartmentName" class="form-control">

    <label asp-for="DeptManager" class="control-lable"></label>
    <select asp-for="DepartmentManagerID" asp-items="@(new SelectList(ViewBag.Employee,"EmployeeId","EmployeeName"))" class="form-control">
        <option value="">Select Manager</option>
    </select>

    <div class="mt-3">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>


</form>